# Created by .ignore support plugin (hsz.mobi)
.gitignore
.gradle/2.10/
.idea/workspace.xml
app/build/generated/assets/
app/build/generated/res/
app/build/generated/source/aidl/
app/build/generated/source/r/androidTest/
app/build/generated/source/rs/
app/build/intermediates/assets/
app/build/intermediates/blame/res/androidTest/
app/build/intermediates/bundles/
app/build/intermediates/classes/debug/com/example/statechange/StateChangeActivity$1.class
app/build/intermediates/dependency-cache/
app/build/intermediates/exploded-aar/com.android.support/support-v4/20.0.0/aidl/android/support/v4/accessibilityservice/
app/build/intermediates/exploded-aar/com.android.support/support-v4/20.0.0/aidl/android/support/v4/content/
app/build/intermediates/exploded-aar/com.android.support/support-v4/20.0.0/aidl/android/support/v4/database/
app/build/intermediates/exploded-aar/com.android.support/support-v4/20.0.0/aidl/android/support/v4/graphics/
app/build/intermediates/exploded-aar/com.android.support/support-v4/20.0.0/aidl/android/support/v4/hardware/
app/build/intermediates/exploded-aar/com.android.support/support-v4/20.0.0/aidl/android/support/v4/internal/
app/build/intermediates/exploded-aar/com.android.support/support-v4/20.0.0/aidl/android/support/v4/media/
app/build/intermediates/exploded-aar/com.android.support/support-v4/20.0.0/aidl/android/support/v4/net/
app/build/intermediates/exploded-aar/com.android.support/support-v4/20.0.0/aidl/android/support/v4/os/
app/build/intermediates/exploded-aar/com.android.support/support-v4/20.0.0/aidl/android/support/v4/print/
app/build/intermediates/exploded-aar/com.android.support/support-v4/20.0.0/aidl/android/support/v4/text/
app/build/intermediates/exploded-aar/com.android.support/support-v4/20.0.0/aidl/android/support/v4/util/
app/build/intermediates/exploded-aar/com.android.support/support-v4/20.0.0/aidl/android/support/v4/view/
app/build/intermediates/exploded-aar/com.android.support/support-v4/20.0.0/aidl/android/support/v4/widget/
app/build/intermediates/exploded-aar/com.android.support/support-v4/20.0.0/assets/
app/build/intermediates/exploded-aar/com.android.support/support-v4/20.0.0/libs/
app/build/intermediates/exploded-aar/com.android.support/support-v4/20.0.0/res/
app/build/intermediates/incremental-safeguard/
app/build/intermediates/incremental/mergeDebugAndroidTestShaders/
app/build/intermediates/incremental/mergeDebugShaders/
app/build/intermediates/instant-run-support/
app/build/intermediates/jniLibs/
app/build/intermediates/manifest/tmp/
app/build/intermediates/res/merged/androidTest/
app/build/intermediates/rs/
app/build/intermediates/shaders/
app/build/intermediates/symbols/androidTest/
app/build/intermediates/transforms/mergeJavaRes/
app/build/intermediates/transforms/mergeJniLibs/
app/build/tmp/
build/generated/
